.line-clamp-1[data-v-422fd8be]{-webkit-line-clamp:1}.line-clamp-1[data-v-422fd8be],.line-clamp-3[data-v-422fd8be]{display:-webkit-box;-webkit-box-orient:vertical;overflow:hidden}.line-clamp-3[data-v-422fd8be]{-webkit-line-clamp:3}
